<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <Property name="LOG_HOME">./log</Property>
        <property name="FILE_NAME">tool_log</property>
        <property name="FILE_NAME_ERROR">tool_error</property>

        <property name="PATTERN">%n%-5p %d{yy-MM-dd HH:mm:ss.SSS} %l [%t]%n%m%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}"
                                 filePattern="${LOG_HOME}/${FILE_NAME}%i">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="RollingFileError" fileName="${LOG_HOME}/${FILE_NAME_ERROR}"
                                 filePattern="${LOG_HOME}/${FILE_NAME_ERROR}%i">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </Loggers>

</Configuration>